{% extends 'base.html' %}

{% block titulo %} Sobre la Página {% endblock %} 

{% block contenido %} 

<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4">¡Bienvenido a la Página de Información!</h1>
        <p class="lead">Aquí encontrarás detalles sobre esta página y el CRUD asociado.</p>
    </div>
    
    <h2>Información sobre la Página</h2>
    <p>Esta página te proporciona información detallada sobre mí y sobre cómo funciona el CRUD en esta página.</p>
    
    <h3>Sobre Mí</h3>
    <p>¡Hola! Soy Kadir y soy el desarrollador de esta página. Me apasiona el desarrollo de base de datos y back-end y he creado esta página como proyecto personal.</p>
    
    <h3>CRUD - Crear, Leer, Actualizar, Borrar</h3>
    <p>Esta página utiliza la funcionalidad CRUD para gestionar una colección de libros. Puedes agregar nuevos libros, ver los existentes, editar la información de los libros y eliminarlos si es necesario.</p>
    
    <h4>Crear</h4>
    <p>Utiliza la opción "Agregar Libro" para ingresar nuevos libros a la colección. Puedes proporcionar detalles como título, imagen y descripción.</p>
    
    <h4>Leer</h4>
    <p>En la página de libros, encontrarás una lista de los libros existentes. Cada libro muestra su título, imagen y descripción.</p>
    
    <h4>Actualizar</h4>
    <p>Para editar los detalles de un libro, utiliza la opción "Editar" en la página de libros. Puedes cambiar el título, la imagen y la descripción.</p>
    
    <h4>Borrar</h4>
    <p>Si un libro ya no es relevante, puedes eliminarlo utilizando la opción "Borrar" en la página de libros.</p>
    
    <p>¡Explora y disfruta de la página!</p> 
    
</div>

{% endblock %}











